# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# IDE and editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS & Linux system files
.DS_Store
*.swp
*~

# Logs and databases
*.log
*.sqlite3